@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

html {
  font-size: 12px;
}

html,
body {
  background-color: #f8fafc;
}

html.dark,
html.dark body {
  background-color: #020617;
}
